.icon-surprice {
    &::after {
        content: "";

        display: block;
        width: 24px;
        height: 24px;

        background-image: url('data:image/svg+xml, \
         <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M169.23-184.62v-366.15h-7.69q-17.62 0-29.58-11.96Q120-574.69 120-592.31v-93.84q0-17.62 11.96-29.58 11.96-11.96 29.58-11.96h164.15q-11.92-10.54-16.5-25.16-4.57-14.61-4.57-30.23 0-40 27.69-67.69Q360-878.46 400-878.46q23 0 42.23 10.81 19.23 10.8 33.15 28.11 13.93-17.54 33.16-28.23 19.23-10.69 42.23-10.69 40 0 67.69 27.69 27.69 27.69 27.69 67.69 0 15.62-4.69 30.12-4.69 14.5-16.38 25.27h173.38q17.62 0 29.58 11.96Q840-703.77 840-686.15v93.84q0 17.62-11.96 29.58-11.96 11.96-29.58 11.96h-7.69v366.15q0 26.85-18.89 45.74Q753-120 726.15-120h-492.3q-26.85 0-45.73-18.88-18.89-18.89-18.89-45.74ZM511.5-822.35q-16.12 16.12-16.12 39.27 0 23.16 16.12 39.27 16.12 16.12 39.27 16.12 23.15 0 39.27-16.12 16.11-16.11 16.11-39.27 0-23.15-16.11-39.27-16.12-16.11-39.27-16.11-23.15 0-39.27 16.11Zm-166.88 39.27q0 23.16 16.11 39.27 16.12 16.12 39.27 16.12 23.15 0 39.27-16.12 16.11-16.11 16.11-39.27 0-23.15-16.11-39.27-16.12-16.11-39.27-16.11-23.15 0-39.27 16.11-16.11 16.12-16.11 39.27ZM160-687.69v96.92h300v-96.92H160ZM460-160v-390.77H209.23v366.15q0 10.77 6.92 17.7 6.93 6.92 17.7 6.92H460Zm40 0h226.15q10.77 0 17.7-6.92 6.92-6.93 6.92-17.7v-366.15H500V-160Zm300-430.77v-96.92H500v96.92h300Z" /></svg>');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;

        will-change: transform;
        transition: 0.3s all ease;
    }
}

.icon-discount {
    &::after {
        content: "";

        display: block;
        width: 24px;
        height: 24px;

        background-image: url('data:image/svg+xml, \
         <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M838.31-391.92 568.08-121.69q-10.9 10.84-24.53 16.27-13.63 5.42-27.18 5.42-13.56 0-27.12-5.42-13.56-5.43-24.4-16.27L121.08-465.08q-10.23-9.84-15.66-23.1-5.42-13.26-5.42-27.9v-271.23q0-29.98 21.19-51.34 21.2-21.35 51.5-21.35h271.23q14.49 0 28.07 5.88 13.59 5.87 23.55 15.81l342.77 343.39q10.99 10.9 16.03 24.52 5.04 13.63 5.04 27.33 0 13.7-5.04 26.94-5.04 13.25-16.03 24.21Zm-313 228.07 270.23-270.23q3.84-3.84 3.84-9.04 0-5.19-3.84-9.03L448.31-799.62H172.69q-5.38 0-9.04 3.47-3.65 3.46-3.65 8.84v270.62q0 2.31.77 4.61.77 2.31 2.69 4.23l343.77 344q3.85 3.85 9.04 3.85 5.19 0 9.04-3.85ZM261-648.85q20.92 0 35.54-14.58 14.61-14.58 14.61-35.42 0-20.99-14.58-35.68-14.58-14.7-35.42-14.7-20.99 0-35.68 14.65-14.7 14.65-14.7 35.58 0 20.92 14.65 35.54 14.65 14.61 35.58 14.61Zm219.77 169.62Z" /></svg>');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;

        will-change: transform;
        transition: 0.3s all ease;
    }
}
