@use "@assets/styles/common/mixins.scss" as *;

.header {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    transition: 0.3s all ease;

    &.theme-white {
        background: var(--white);

        & .header__logo {
            filter: invert(1);
        }

        &:deep(.header-nav) {
            & a {
                color: var(--accent);
            }
        }

        &:deep(.icon) {
            fill: var(--accent) !important;
        }

        &:deep(.cart-btn) {
            & svg {
                fill: var(--accent);
            }
        }
    }

    &.transform {
        transform: translateY(-110%);
    }

    &.header-sticky {
        position: sticky;
        transform: translate(0);
        transition: 0s all ease;
    }

    @media (hover) {
        &:hover {
            background: var(--white);

            & .header__logo {
                filter: invert(1);
            }

            &:deep(.header-nav) {
                & a {
                    color: var(--accent);
                }
            }

            &:deep(.icon) {
                fill: var(--accent) !important;
            }

            &:deep(.cart-btn) {
                & svg {
                    fill: var(--accent);
                }
            }
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        gap: 20px;
    }

    &__logo {
        @include imgAdaptive(120px, null, 50, contain);

        transition: 0.3s all ease;
    }

    &:deep(.cart-btn) {
        & svg {
            fill: var(--white);
        }
    }
}
